// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1DA826;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-blue: #31d2f2;
$blue-sky: #277cfc;

$greenone: #f6fff8;
$greentwo: #eaf4f4;
$greenthree: #cce3de;
$greenfour: #a4c3b2;
$greenfive: #6b9080;
$greensix: #475841;
