<div class="container">
  <div class="left">
  </div>
  <div class="right">
    <h1><%= @user.email %></h1>
    <h2 >Overview of my offers</h2>
    <div class="offers">
      <div class="col">
      <div class="card h-100">
        <img src="https://images.unsplash.com/photo-1518965723674-44cd4aff50d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between">
          <div>
            <h5 class="card-title">Massage</h5>
            <p class="card-text">Price</p>
          </div>
          <div class="">
            <span><ion-icon name="star" class="star"></ion-icon>4.6</span>
          </div>
        </div>
        <button type="button" class="btn btn-info"><strong>DISCOVER</strong></button>
      </div>
    </div>
    </div>
  </div>
</div>
