<div class="container">
  <div class="left">

  </div>
  <div class="right">
    <h1><%= current_user.email %></h1>
    <h2 >Overview of my offers</h2>
    <% current_user.offers.each do |offer| %>
      <div class="offers">
        <div class="col">
        <div class="card h-100">
          cl_image_tag
           <img class="card-img-top" src="https://images.unsplash.com/photo-1502885380958-f9f2289af1a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2671&q=80" alt="Card image cap">
            <%#= cl_image_tag offer.key, height: 300, width: 400, crop: :fill %>
            <div>
              <h5 class="card-title"> <%= offer.title %></h5>
              <p class="card-text"><%= offer.hourly_rate %></p>
            </div>
            <div class="">
              <span><ion-icon name="star" class="star"></ion-icon>4.6</span>
            </div>
          </div>
          <button type="button" class="btn btn-info"><strong>DISCOVER</strong></button>
        </div>
      </div>
      </div>
      <% end %>
      <%= link_to "Create a new offer", new_offer_path %>
  </div>
</div>
