<div id="<%= dom_id offer %>">
  <p>
    <strong>Title:</strong>
    <%= user.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= user.description %>
  </p>

  <div>
    <div>
        <%#= task.generate_qr %>
        <%#= image_tag(task.qr_code) if task.qr_code.attached? %>
    </div>
  </div>
</div>
