<h1 class = "header">Create a new offer</h1>
<h2 class = "header">Find me in app/views/offers/new.html.erb</h2>

<%= render "form", Offer: @offer %>

<br>

<div>
  <%= link_to "Back to Offers", offers_path %>
</div>
