
<div class="cont-detail">
  <div class="offer-content">
     <%= render @offer %>
  </div>
  <div class="img-details">
         <div>
           <%= cl_image_tag(@offer.photo.key, width: 600, height: 500, crop: :fill) %>
         </div>
         <div class="book-btn">
            <a href="#">Book</a>
         </div>
        <div class="">
          <%= render "calendar" %>
        </div>
  </div>
</div>
