
<div class="container mt-3">
   <div class="row">
     <div class="col-6">
        <%= render @offer %>
     </div>
   </div>
     <div class="col-6">
         <%= cl_image_tag(@offer.photo.key, width: 400, height: 300, crop: :fill) %>
        <div class="mt-3 text-end">
          <%= render "calendar" %>
         </div>
     </div>
</div>
