.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform .5s;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }
  &:hover,
  &:focus {
    transform: scale3d(1.03, 1.03, 1);
    color: black;
    &::after {
      opacity: 1;
    }
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

  h2 {
    text-align: left;
  }
}

.card-link{
  text-decoration: none;
  color: black;
  font-family: $body-font;
}

.delete-card {
  color: rgb(199, 199, 199);
  text-decoration: none;

  .delete-card {
    font-weight: bold;
  }
  &:hover {
    color: rgb(14, 14, 14);
  }
}
