<div class = "container">
  <h1 class = "header">Book the appointment</h1>
  <%= render "form", Appointment: @appointment %>
  <br>
</div>
<div class = "button">
  <%= link_to "Back to profile", current_user, class:"btn btn-ghost" %>
</div>
